@font-face {
    font-family: strife;
    src: url("Strife.ttf");
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'strife', 'Courier-New', sans-serif;
  background-color: black;

  color: white;
}
#mist-bottom{
  background: url("../PictureThoughts/mist0.png");
  background-size: 100%  100%;
  opacity: 20%;
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0px;
}

.mist-baffle{
  background: url("../PictureThoughts/mist0.png");
  background-size: 100%  100%;
  opacity: 30%;
  width: 200%;
  height: 200%;
  z-index: 999;
  position: fixed;
  top: 0px;
  pointer-events: none;
  filter: blur(30px);
}

.mist-baffle1{
  animation: jitter 80.0s steps(40) infinite;
  animation-delay: 1s;
}


.mist-top{
  background: url("../PictureThoughts/mist1.png");
  background-size: 100%  100%;
  opacity: 10%;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  top: 0px;
  pointer-events: none;
}

#mist-bottom{
  background: url("../PictureThoughts/mist0.png");
  background-size: 100%  100%;
  opacity: 20%;
  width: 100%;
  z-index: -999;
  height: 100%;
  position: fixed;
  top: 0px;
}
#output {
  padding: 20px;
  text-align: center;
}

.pulse_animated{
    box-shadow: -10px 10px 20px #cccccc;
    animation: pulseGlow 20.0s steps(20) infinite;
    cursor: pointer;
}

@keyframes jitter {
   0% { background-position: 0px 0px;
              transform: scale(1);
        }

    50% { background-position: 300px 300px;
                        transform: scale(1.00001);
     }

      100% { background-position: -10px -10px;
                                     transform: scale(0.9999999);
          }
}

@keyframes pulse {
   0% { -moz-transform: scale(1);
              -o-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1);
        }

    50% { -moz-transform: scale(1.10);
                      -o-transform: scale(1.1);
                      -webkit-transform: scale(1.1);
                      transform: scale(1.1);
     }

      100% { -moz-transform: scaleX(1);
                           -o-transform: scale(1);
                           -webkit-transform: scale(1);
                           transform: scale(1);
          }
}

@keyframes pulseGlow {
   0% { box-shadow: -10px 10px 20px #8b0000 ;
        }

    50% { box-shadow: -10px 10px 20px #000000;
     }

      100% { box-shadow: -10px 10px 20px #800000 ;
          }
}
