body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.frameAnimation{
  animation: frameAnimation 2.0s steps(1) infinite;
}

.frameAnimation:hover{
  background-position: -980px;
}

@keyframes frameAnimation {
 0% { background-position: 0px; }
 25% { background-position: 100% }
 50% { background-position: 200% }
 75% { background-position: 300% }
 0% { background-position: 0px; }
}
